# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
 
# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
 
# --- Operational System ---
.DS_Store
Thumbs.db
 
#.env
.env
*.env
 
# --- Logs ---
*.log
logs/
 
# --- Spring Boot fat jar ---
*.jar